body {
  height: 100%;
  max-height: 100%;
  font-family: "objektiv-mk3","dnp-shuei-gothic-kin-std", sans-serif;
  font-size: 1.5rem;
  line-height: 1.6;
  color: #3a4145;
}
a.btn {
  text-decoration: none;
  background-color: #9fd067;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  color: white;
  display: inline-block;
  font-size: 16px;
  letter-spacing: 1px;
  margin: 0;
  overflow: visible;
  padding: 10px 20px 10px 20px;
  position: relative;
  margin-top: 2rem;
  cursor: pointer;
  font-family: "objektiv-mk3","dnp-shuei-gothic-kin-std", sans-serif;
  text-transform: uppercase;
  font-weight: lighter;
}

a.btn:hover {
  background: #86c440;
}
.post-holder.odd{
  background-color: #898989;
}
.post-title {
  font-family: "objektiv-mk3", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 3.5rem;
  line-height: 1.7;
  margin-bottom: 1.5rem;
  letter-spacing: .1rem;
}
.blog-title {
  font-family: "objektiv-mk3", sans-serif;
  font-weight: lighter;
}
.blog-description {
  margin: 0;
  font-family: "dnp-shuei-gothic-kin-std", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
}
header.post-header a{
  display: block;
  color: #898989;
  font-size: 80%;
}
header.post-header a::before{
  content: "<";
  color: #898989;
}
.logo-title{
  width: 300px;
  padding-bottom: 4rem;
}
hr {
  border-top: 1px solid #efefef;
  margin: 4rem 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "objektiv-mk3","dnp-shuei-gothic-kin-std", sans-serif;
}
h3,
h4,
h5,
h6 {
  font-family: "objektiv-mk3","dnp-shuei-gothic-kin-std", sans-serif;
}
.blog-description {
  font-family: "objektiv-mk3","dnp-shuei-gothic-kin-std", sans-serif;
}
.fixed-nav {
  font-family: "Open Sans Condensed", sans-serif;
}
.post-meta {
  font-family: "objektiv-mk3","dnp-shuei-gothic-kin-std", sans-serif;
}
.pagination {
  font-family: "objektiv-mk3","dnp-shuei-gothic-kin-std", sans-serif;
}
.site-footer {
  font-family: "objektiv-mk3","dnp-shuei-gothic-kin-std", sans-serif;
}
h1{
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 4rem;
}
h2{
  font-size: 3rem;
  font-weight: 400;
  margin-bottom: 2rem;
}
h3{
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom: 2rem;
}
h4{
  font-size: 2.5rem;
  font-weight: 400;
  margin-bottom: 2rem;
}
h5{
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
}
h6{
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 1.5rem;
}
p, ul, ol {
  margin: .25rem 0;
}
img{
  margin: 3rem auto 0 !important;
}
#about-us hr{
  margin: 2rem 0;
}