body {
  height: 100%;
  max-height: 100%;
  font-family: "ヒラギノ角ゴ", sans-serif;
  font-size: 2rem;
  line-height: 1.6em;
  color: #3a4145;
}
a.btn {
  text-decoration: none;
  background-color: #9fd067;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  color: white;
  display: inline-block;
  font-size: 16px;
  letter-spacing: 1px;
  margin: 0;
  overflow: visible;
  padding: 10px 20px 10px 20px;
  position: relative;
  margin-top: 2rem;
  cursor: pointer;
  font-family: "ヒラギノ角ゴ", sans-serif;
  text-transform: uppercase;
  font-weight: lighter;
}

a.btn:hover {
  background: #86c440;
}
.post-holder.odd{
  background-color: #898989;
}
.post-title {
  margin-bottom: 4rem;
}
.blog-description {
  margin: 0;
  font-size: 2.5rem;
  line-height: 1.5em;
  font-weight: 300;
  font-family: "ヒラギノ角ゴ", sans-serif;
  letter-spacing: 0;
}
header.post-header a{
  display: block;
  color: #898989;
  font-size: 80%;
}
header.post-header a::before{
  content: "<";
  color: #898989;
}
.logo-title{
  width: 300px;
  padding-bottom: 4rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "ヒラギノ角ゴ", sans-serif;
}
h1{
  line-height: 2em;
  font-weight: 800;
  margin: 4rem 0;
}
h2{
  line-height: 1.5em;
  font-weight: 600;
}
h3,
h4,
h5,
h6 {
  font-family: "ヒラギノ角ゴ", sans-serif;
}
.blog-description {
  font-family: "ヒラギノ角ゴ", sans-serif;
}
.fixed-nav {
  font-family: "Open Sans Condensed", sans-serif;
}
.post-meta {
  font-family: "ヒラギノ角ゴ", sans-serif;
}
.pagination {
  font-family: "ヒラギノ角ゴ", sans-serif;
}
.site-footer {
  font-family: "ヒラギノ角ゴ", sans-serif;
}